.register {
    height: 490px;
    width: 480px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .08);
}

.register-text {
    height: 12%;
    text-align:center;
    width: 100%;
    margin:0 auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 16%;
    padding-top: 4%;
}

.register-text hr{
    width: calc(50% - 60px);
    display:inline-block;
    vertical-align: middle;
    background-color: lightgrey;
    border: none;
    height: 0.66px;
}

.register-text span{
    padding: 0 10px;
}

.register-form {
    width: 90%;
    margin: 0 auto;
}

.form-floating label {
    color: lightgrey;
}

#register-button:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

/* responsive */
@media screen and (min-width: 1001px){
    .register {
        width: 480px;
    }
}

@media screen and (max-width: 1000px){
    .register {
        width: 420px;
    }
}

@media screen and (max-width: 700px){
    .register {
        width: 360px;
    }
}